@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap');

:root {
    --borderRadius: 10px;
    --pageBg: #000000;
    --fontWhiteClr: #FFFFFF;
    --greenFontClr: #49B649;
    --normalWhiteClr: FFFFFF;
    --mobileFontLine: 2.5rem;
    --containerWidth: 85%;
    --mobileParaLine: calc(var(--mobileFontLine) - 9px);
    --mobileHeaderFont: calc(var(--normalFontSize) - 3px);
    --normalFontLine: 32.74px;
    --menuFontSize: 18px;
    --normalFontSize: 20px;
    --headerFontSize: 34px;
    --headerFontWeight: 900;
    --headerFontWeight2: 600;
    --headerWeight700: 700;
    --h3LineHeiht: calc(var(--normalFontLine) + 10px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--pageBg);
    color: var(--fontWhiteClr);
    font-family: 'Nunito', sans-serif;
}

.main {
    width: 100%;
}

/* header style */
/* menu style */
.navigation {
    width: var(--containerWidth);
    margin-inline: auto;
    padding-block: 2rem;
    margin-block: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list li {
    display: inline-block;
    margin-left: 2rem;
}

.menu-list a:not(.contact-btn) {
    font-size: var(--menuFontSize);
    font-weight: var(--headerFontWeight);
    color: var(--fontWhiteClr);
}

.contact-btn {
    padding: 9px 25px;
    background-color: var(--greenFontClr);
    border-radius: var(--borderRadius);
    font-size: var(--menuFontSize);
    font-weight: var(--headerFontWeight);
    color: var(--fontWhiteClr);
    transition: all .5s;
}

.menu-list a:hover:not(.contact-btn) {
    color: #49B649;
}

.contact-btn:hover {
    color: var(--greenFontClr);
    background-color: var(--fontWhiteClr);
}
/* header style */

:is(.sec3_left-div, .cashback_left-div, .sec, .sec4_left) h2 {
    font-size: var(--headerFontSize);
    font-weight: var(--headerWeight700);
    line-height: var(--h3LineHeiht);
 }

/* headline style */
.headline {
    width: var(--containerWidth);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}



.headline_right img {
    height: 100%;
    width: 100%;
}

.headline_h1 {
    width: 700px;
    font-weight: var(--headerFontWeight);
    /* font-size: var(--headerFontSize); */
    font-size: clamp(30px, 5vw, 5rem);
    line-height: 73.66px;
    letter-spacing: 4%;
}

.saving {
    color: var(--greenFontClr);
}

.headline_p {
    width: 540px;
    font-size: var(--normalFontSize);
    font-weight: var(--headerFontWeight2);
    line-height: 32.76px;
    margin-block: 1.8rem;
}

.headline_left {
    display: flex;
    align-items: center;
}

.cta-btn {
    background-color: var(--greenFontClr);
    border-radius: var(--borderRadius);
    border: none;
    margin-right: .5rem;
    transition: .5s;
}

.cta-btn a {
    display: block;
    padding: 10px 30px;
    color: var(--fontWhiteClr);
    font-size: var(--normalFontSize);
    font-family: 'Nunito', sans-serif;
    font-weight: var(--headerFontWeight2);
}

.cta-btn a:hover {
    color: var(--greenFontClr);
    background-color: var(--fontWhiteClr);
    border-radius: var(--borderRadius);
}

.headline_list {
    margin-top: 1rem;
}

.headline_list li {
    line-height: 31.45px;
    font-size: var(--normalFontSize);
    letter-spacing: 2%;
    font-weight: var(--headerFontWeight2);
}
/* header ends */

/* next section */
.sec {
    width: 60%;
    margin-inline: auto;
    margin-block: 2.5rem;
    text-align: center;
}

.sec_h2 {
    margin-block: 1rem;
}

.sec_p {
    font-size: var(--normalFontSize);
    font-weight: var(--headerFontWeight2);
    line-height: var(--normalFontLine);
}
/* next section */

/* sec 2 */
.sec-2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-block: 5rem;
}

.sec-2_div p {
    margin-block: .5rem;
    font-size: var(--normalFontSize);
}

/* sec 2 */

/* sec 3 */
.sec3 {
    width: var(--containerWidth);
    gap: 5rem;
    margin-inline: auto;
    margin-block: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sec3_left-div p{
    font-size: var(--normalFontSize);
}

.sec3_left {
    display: flex;
    align-items: end;
}

.pic {
    width: 100%;
    max-height: 100%;
    display: block;
}

.sec3_left-div p {
    line-height: var(--normalFontLine);
    margin-top: 1rem;
}
/* end */

/* new row */
.cashback {
    width: 100%;
    padding-left: 7.5%;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-block: 5rem;
}

.cashback_left {
    display: flex;
    align-items: end;
}

.cashback_left-div p {
    font-size: var(--normalFontSize);
    line-height: var(--normalFontLine);
    margin-block: 1rem;
}

.cashback_right img {
    width: 100%;
    height: 100%;
    display: block;
}
/* row ends */

/* new row */
.sec4 {
    background-image: url(images/unsplash_OCrPJce6GPk.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 5rem;
    margin-block: 5rem;
}

.sec4_grid {
    width: var(--containerWidth);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.sec4_left {
    display: flex;
    align-items: flex-end;
}

.sec4_right p{
    font-size: var(--normalFontSize);
    line-height: var(--normalFontLine);
}

/* footer start */
footer {
    padding-block: 3rem;
    background-image: url(images/unsplash_1FxMET2U5dU.png);
}

.footer_grid {
    width: var(--containerWidth);
    margin-inline: auto;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.sm-icon {
    display: flex;
    gap: 5px;
    margin-block: .5rem;
}

.table-head th {
   text-align: start;
}

td {
    padding-right: 20px;
    padding-block: .3rem;
}

.mail-div {
    border: 1px solid white;
    display: inline-flex;
    gap: 5px;
    padding: 4px 3px;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--fontWhiteClr);
}

input[type="email"].mailing {
    border: none;
    padding: 5px;
}

.sub-btn a {
    display: block;
    padding-inline: 5px;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: var(--headerWeight700);
}

.sub-btn {
    border-radius: 5px;
    border: none;
    background-color: var(--greenFontClr);
}


/* ends */

/* ipad/tablet */
@media screen and (max-width: 880px) {

    .navigation {
        display: none;
    }

    .headline {
        display: block;
    }

    .headline_left {
        margin-bottom: 1.2rem;
    }

    .headline_left-cont {
        text-align: center;
    }

    .headline_h1 {
        width: 100%;
        line-height: 3.2rem;
    }

    .headline_p {
        width: unset;
        margin-block: 1.2rem;
        font-size: calc(var(--normalFontSize) + 5px);
        line-height: var(--mobileFontLine);
    }

    .headline_list {
        display: none;
    }

    /* first sec */
    .sec {
        width: 80%;
    }

    .sec-2 {
        gap: 1.2rem;
    }

    .sec_h2 {
        margin-block: 1rem;
    }

    .sec_p {
        line-height: var(--mobileFontLine);
    }
    /* first sec */

    .sec3 {
        display: block;
    }

    .sec3_img-div {
        margin-bottom: 1rem;
    }

    .sec3_left {
        width: 100%;
    }

    .cashback {
        padding: unset;
        gap: 4rem;
    }

    .cashback_left {
        width: 100%;
        justify-content: center;
    }

    .cashback_left-div {
        text-align: center;
        width: 86%;
    }

    .sec4_grid {
        display: block;
    }

    .sec4 {
        margin-top: 2.5rem;
    }

    .sec4_grid {
        gap: 1rem;
    }

    .sec4_left {
        margin-bottom: 2rem;
    }

    .footer_grid {
        display: flex;
        flex-direction: column;
        align-items: unset;
        gap: 1.5rem;
    }

    .footer_grid-two {
        order: 3;


    }
    .footer_grid-three {
        order: 2;
    }

}

/* mobile */
@media screen and (max-width: 500px){

    :is(.headline, .sec, .sec3, .cashback_left-div) {
        width: 90%;
        /* margin-inline: 1rem; */
    }

    .headline_h1 {
        line-height: var(--mobileFontLine);
        width: 100%;
    }

    .headline_p {
        /* width: 95%; */
        font-size: var(--mobileHeaderFont);
        line-height: var(--mobileParaLine);
    }

    .sec_p {
        line-height: var(--mobileParaLine);
    }

    .sec-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 2.5rem;
    }

    .sec-2_div {
        justify-content: center;
        width: 250px;
    }
    
    .sec-2 div:not(.sec_last) {
        margin-bottom: 1rem;
    }

    .sec3 {
        height: unset;
        margin-top: 4.5rem;
        margin-bottom: 2.5rem;
    }

    .sec3_left, .pic {
        width: 100%;
        text-align: center;
    }

    .cashback {
        gap: 2rem;
    }

    .sec4_left {
        margin-bottom: 2rem;
    }
}


/* media query */

